<style>
  .form-control{
    width: 400px;
  }
  .navbar{
    position: fixed;
    width: 100%;
  }

  .box{
    position: fixed;
    top: 5px;
    right: 15px;
  }

  .fa-bell:before {
    content: "\f0f3";
    font-size: 22px;
    position: relative;
    top: -3px;
  }

  .fa{
    color: #03bcd2;
  }

</style>

<nav class="navbar navbar-light bg-white">
  <form class="form-inline left w-100">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
  </form>
  <div class="box">
    <i class="fa fa-bell pr-3" aria-hidden="true"></i>
    <i class="fa fa-user-circle fa-2x pt-2" aria-hidden="true"></i>
  </div>
</nav>
