<style>
  .section1{
    width: 200px;
  }

  .section2{
    width: calc(100% - 200px);
    position: relative;
    float: right;
  }

  .section3{
    padding-top: 5%;
  }

</style>

<div class="section1">
  <app-side-panel></app-side-panel>
</div>
<div class="section2">
  <app-header></app-header>
  <div class="section3">
<!--    <app-dashboard></app-dashboard>-->
<!--    <app-student></app-student>-->
<!--    <app-instructor></app-instructor>-->
    <app-aircrafts></app-aircrafts>
  </div>
</div>

<!--<app-login></app-login>-->
