<style>
  .color-blue{
    color: #03bcd2;
  }

  button{
    height: 22px;
    font-size: 12px;
    background-color: #03bcd2;
    color: white;
    border: none;
  }

  h4 button{
    float: right;
    background-color: white;
    color: #00699a;
    border: 1px solid #00699a;
  }
</style>

<div class="container shadow-sm bg-white p-3 mt-3">
  <h4 class="pb-3">Student Details<button class="mr-5 mt-2" type="button" onclick="alert('')">View More Details</button></h4>
      <table style="width:100%">
        <tr class="border-bottom pb-3">
          <th class="pb-2">Student Name</th>
          <th class="pb-2">License Category</th>
          <th class="pb-2">Remaining Hours</th>
          <th class="pb-2">Mobile No</th>
        </tr>
        <tr>
          <td class="pt-2"><i class="fa fa-user-circle pr-2 color-blue" aria-hidden="true"></i>Jill</td>
          <td  class="pt-2">Smith</td>
          <td  class="pt-2">50</td>
          <td  class="pt-2">0771111111</td>
          <td><button type="button" onclick="alert('')">View More Details</button></td>
        </tr>
        <tr>
          <td><i class="fa fa-user-circle pr-2 color-blue" aria-hidden="true"></i>Eve</td>
          <td>Jackson</td>
          <td>94</td>
          <td>0771111111</td>
          <td><button type="button" onclick="alert('')">View More Details</button></td>
        </tr>
        <tr>
          <td><i class="fa fa-user-circle pr-2 color-blue" aria-hidden="true"></i>John</td>
          <td>Doe</td>
          <td>80</td>
          <td>0771111111</td>
          <td><button type="button" onclick="alert('')">View More Details</button></td>
        </tr>
        <tr>
          <td><i class="fa fa-user-circle pr-2 color-blue" aria-hidden="true"></i>John</td>
          <td>Doe</td>
          <td>80</td>
          <td>0771111111</td>
          <td><button type="button" onclick="alert('')">View More Details</button></td>
        </tr>
        <tr>
          <td><i class="fa fa-user-circle pr-2 color-blue" aria-hidden="true"></i>John</td>
          <td>Doe</td>
          <td>80</td>
          <td>0771111111</td>
          <td><button type="button" onclick="alert('')">View More Details</button></td>
        </tr>
      </table>
    </div>
