<div class="container shadow-sm bg-white p-3">
      <table style="width:100%">
        <tr>
          <th>Registration Number</th>
          <th>Aircraft Type</th>
          <th>Remaining Hours</th>
          <th>Hours remaining for maintenance</th>
        </tr>
        <tr>
          <td>4R-TDA</td>
          <td>C152</td>
          <td>Available</td>
          <td>56</td>
        </tr>
        <tr>
          <td>4R-TDA</td>
          <td>C152</td>
          <td>Available</td>
          <td>56</td>
        </tr>
        <tr>
          <td>4R-TDA</td>
          <td>C152</td>
          <td>Available</td>
          <td>56</td>
        </tr>
        <tr>
          <td>4R-TDA</td>
          <td>C152</td>
          <td>Available</td>
          <td>56</td>
        </tr>

      </table>
    </div>
