<div class="container shadow-sm bg-white p-3">
  <h4 class="pb-3">Instructor Details</h4>
      <table style="width:100%">
        <tr class="border-bottom">
          <th class="pb-3">Instructor Name</th>
          <th>License Category</th>
          <th>Remaining Hours</th>
          <th>Mobile No</th>
        </tr>
        <tr>
          <td class="pt-3">Jill</td>
          <td>Smith</td>
          <td>50</td>
          <td>0771111111</td>
        </tr>
        <tr>
          <td>Eve</td>
          <td>Jackson</td>
          <td>94</td>
          <td>0771111111</td>
        </tr>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>80</td>
          <td>0771111111</td>
        </tr>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>80</td>
          <td>0771111111</td>
        </tr>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>80</td>
          <td>0771111111</td>
        </tr>
      </table>
    </div>
